<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f8f8;
    }

    #containerInfo,
    #containerDatos {
        width: 80%;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    form {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="number"],
    input[type="text"],
    select {
        width: 100%;
        padding: 8px;
        margin: 4px 0;
        box-sizing: border-box;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
    }

    button:hover {
        background-color: #45a049;
    }

    center {
        display: block;
        text-align: center;
    }

    #containerDatos {
        margin-top: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    h2 {
        margin-top: 20px;
    }
</style>

<%- include('partials/header.ejs') %> 

<%- include('partials/nav.ejs') %>

<body>
    
    <% if(!isPost){ %>

        <br><br>

        <div id="containerInfo">

            <form action="/" method="post" id="pagoForm">
    
                <label for="numero">Num. Docente:</label>
                <input type="number" id="numero" name="numero" required>
        
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
        
                <label for="domicilio">Domicilio:</label>
                <input type="text" id="domicilio" name="domicilio" required>
        
                <label for="nivel">Nivel:</label>
                <select id="nivel" name="nivel" required>
                    <option value="1">1 - Licenciatura o Ingeniería</option>
                    <option value="2">2 - Maestro en Ciencias</option>
                    <option value="3">3 - Doctor</option>
                </select>
        
                <label for="pagoHoraBase">Pago Hora Base:</label>
                <input type="number" id="pagoHoraBase" name="pagoHoraBase" step="0.01" required>
        
                <label for="horas">Horas Impartidas:</label>
                <input type="number" id="horas" name="horas" required>
        
                <label for="numHijos">Cantidad de hijos:</label>
                <select id="numHijos" name="numHijos" required>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">Más de 5</option>
                </select>
    
                <br><br><br>
        
                <center>
    
                    <button type="submit">Calcular Recibo</button>
                    <button type="button" onclick="limpiarFormulario()">Limpiar Formulario</button>
    
                </center>
            
            </form>

        </div>

        <br><br>

    <%} else{ %>

        <br>
        <center>

            <div id="containerDatos">

                <h1>Resumen de datos ingresados y obtenidos</h1>
            
                <table>
                    <tr>
                        <td>Número de Docente:</td>
                        <td><%= numero %></td>
                    </tr>
                    <tr>
                        <td>Nombre:</td>
                        <td><%= nombre %></td>
                    </tr>
                    <tr>
                        <td>Domicilio:</td>
                        <td><%= domicilio %></td>
                    </tr>
                    <tr>
                        <td>Nivel:</td>
                        <td><%= nivel %></td>
                    </tr>
                    <tr>
                        <td>Pago por hora base:</td>
                        <td><%= pagoHoraBase %></td>
                    </tr>
                    <tr>
                        <td>Horas impartidas:</td>
                        <td><%= horas %></td>
                    </tr>
                    <tr>
                        <td>Cantidad de hijos:</td>
                        <td><%= numHijos %></td>
                    </tr>
                </table>
    
                <p>Pago Por Horas Impartidas: $<%= pagoPorHoras.toFixed(2) %></p>
                <p>Bono por bono: $<%= bono.toFixed(2) %></p>
                <p>Impuestos: $<%= impuesto.toFixed(2) %></p>

                <h6>Total a Pagar: $<%= totalAPagar.toFixed(2) %></h6>

            </div>


        </center>
        <br><br>

    <% } %>

</body>

<script>
    function limpiarFormulario() {
        document.getElementById("pagoForm").reset();
    }
</script>

<%- include('partials/footer.ejs') %>